/node_modules
/npm-debug.log
test.html
.tern-*
*~
*.swp
*.iml
*.ipr
*.iws
.idea
.svn
.classpath
.project
.settings
target

# ExtJS4
/extjs4/
!/extjs4/README.md
/libs/extjs4/
!/libs/extjs4/README.md

# CodeMirror
/codemirror/
!/codemirror/README.md
/libs/codemirror/
!/libs/codemirror/README.md